page-home {
  .list-header {
    padding: 0px !important;      

    .item-inner   {
      padding: 0px !important;
      margin: 0px !important;
      .label {
        margin: 0px !important;          
      }
    }
  }

  .header_top {
    width: 100%;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;      
    img {
      max-width:100%;
      object-fit: cover;
      height:auto !important;  
    }     
  }
  
  .header_gradient {
    top: 0;
    left: 0;    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;      
    }
  }

  .header_logo {
    position:absolute;
    display: flex;
    align-items:center;
    justify-content:center;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 25 !important;
    img.center {
      height: 80pt;
      max-width: 80pt;
      max-height: 80pt;
      width: 80pt;    
      align-self: center;
      z-index: 26 !important;   
    }
  }

  .logout_place {
    position:absolute;
    top: 0;
    right: 0;
    margin-top: .6em;
    margin-right: 1.6em;
    z-index: 27 !important;
    ion-icon {
      font-size: 3em;
    }
  }

  .user_place {
    position:absolute;
    top: 0;
    left: 0;
    margin-top: .6em;
    margin-left: 1.6em;
    z-index: 27 !important;
    ion-icon {
      font-size: 3em;
    }
  }

  .header_text {
    position: absolute;
    z-index: 30 !important;
    font-size: 14pt;
    width: 100%;
    bottom: 8px;
    left: 0;
    text-align: center;
    color: white;
    .icon {
      color: white;
    }
  }

  ion-header {
    ion-item {
      width: 100%;
      margin: 0%;
      opacity: 0.7;
      font-size: 0.9em;
      transition: 0.2s linear;
      img {
        width: 100%;
        height: 100%;
        opacity: 0.5;			  							
        object-fit: cover;
        z-index: 20;
      }
    }
  }

  ion-footer {    
    min-height: 18pt !important;
    padding: 0px !important;
    margin: 0px !important;
    ion-toolbar {
      padding: 4px !important;
      min-height: 18pt !important;
    }
    
    color: white;
    ion-icon {
      font-size: 22pt;
      color: white;
    }
  }

  .notFound {
    font-size: 14pt;
    display:flex;
    //font-weight: bold;
    align-items:center;
    justify-content:center;
    
    padding: 16px;

    p {
      white-space: pre-line;
      text-align: center;
    }
  }

  div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display:flex;
    align-items:center;
    justify-content:center;       
  }

  @media only screen and (orientation: landscape) {
    .header {
      display: none;
      height: 0px !important;
    }
  } 
  
/* Or if you just want to shrink the header down to the standard 44px
  @media only screen and (orientation: landscape) {
    .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
      height: 44px;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
      margin-top: 0;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .has-header,
    .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
      top: 44px;
    }
  }
*/  
}
