<ion-content fullscreen #mycontent>
  <ion-refresher (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content 
      refreshingSpinner="ios"    
      pullingIcon="arrow-dropdown"
      [pullingText]="translate.instant('LOADING_INSTRUCTION')"
      [refreshingText]="translate.instant('LOADING')">
    </ion-refresher-content>
  </ion-refresher>                      
  
  <ion-list>    
    <ion-list-header>
      <div class="header_top">
        <img src='assets/img/header.jpg'>
        <div class="header_gradient">
          <img src='assets/img/gradient.png'>
        </div>
        <div class="header_logo" *ngIf="city.logo">
          <img [src]="city.logo" class="center">
        </div>      
        <div class="header_text" (click)="selectCity()">
          {{ city.title }}
        </div>
        <div *ngIf="isAuth" class="logout_place" (click)="logout()">
          <ion-icon name="exit" color="light"></ion-icon>
        </div>
        <div *ngIf="isAuth" class="user_place" (click)="info()">
          <ion-icon name="ios-contact" color="light"></ion-icon>
        </div>
      </div>                
    </ion-list-header>     
    <ion-card *ngFor="let p of projects">
      <ion-item>
        <ion-avatar item-start *ngIf="p.owner_avatar">
          <img [src]="p.owner_avatar">
        </ion-avatar>
        <h2>{{ p.title }}</h2>
        <p>{{ p.owner }}</p>
        <!--p>{{ p.createdAt | amDateFormat: 'DD.MM.YYYY' }}</p-->
      </ion-item>        

      <img [src]="p.picture" *ngIf="p.picture">

      <ion-card-content>
        <p>{{ p.description }}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="vote(p)">
            <ion-icon [name]="p.is_voted ? 'ios-thumbs-up' : 'ios-thumbs-up-outline'"></ion-icon>
            <div>{{p.voted}} {{'VOTED' | translate}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button small float-right (click)="openDetails(p)">
            {{'MORE' | translate}}
          </button>
        </ion-col>
      </ion-row>             
    </ion-card>    
  </ion-list>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20" enabled="true">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <div class="spinner" *ngIf="isLoading === true && projects.length === 0">
    <ion-spinner name="ios">{{ 'LOADING' | translate }}</ion-spinner>
  </div>

  <div class="notFound" *ngIf="isLoading === false && projects.length === 0 && isLoadingOnPull === false">
    <p text-center>{{ 'NO_PROJECTS_FOUND' | translate }}</p>
  </div>
    
</ion-content>

<ion-footer *ngIf="isFooterVisible">
  <ion-toolbar color="footer">
    <ion-buttons left>
      &nbsp;&copy; 2017-2020 <span (click)="selectCity()">{{ city.location | titlecase }}</span>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="openFB()" clear><ion-icon name="logo-facebook"></ion-icon></button>      
    </ion-buttons>
  </ion-toolbar>
</ion-footer>