<ion-content>
  <ion-list *ngIf="network.isOnline() && places.length > 0">   
    <ion-card *ngFor="let p of places" (click)="openCity(p)">
      <img [src]="p.background_image" *ngIf="p.background_image" id="bg">
      <div class="card-logo" *ngIf="p.logo"><img [src]="p.logo" id="logo"></div>
      <div class="card-location">{{ p.location }}</div>
      <div class="card-title">{{ p.title }}</div>
      <div class="card-subtitle">{{p.voted}} {{'VOTED' | translate}}</div>
      <div class="card-date-range">{{ p.date_from | amDateFormat: 'DD.MM.YYYY' }} - {{ p.date_to | amDateFormat: 'DD.MM.YYYY' }}</div>
    </ion-card>    
  </ion-list>  
  
  <div class="spinner" *ngIf="isLoading === true && places.length === 0">
    <ion-spinner name="ios">{{ 'LOADING' | translate }}</ion-spinner>
  </div>

  <!-- show no one city warning -->
  <ion-list padding no-lines *ngIf="network.isOnline() && places.length === 0 && firstInit && !isLoading" class="transparent">
    <div class="logoWarningPlace">
      <img src='assets/svg/city.svg' class="noCityImage"/>    
    </div>
    <ion-item text-center text-wrap class="transparent">
      <span>
        <div [innerHTML]="'NO_CITY_FOUND' | translate"></div>
      </span>
    </ion-item>
    <div class="retryButtonPlace"> 
      <button ion-button large (click)="retry()" color="connection">{{'RETRY' | translate}}</button>
    </div>
  </ion-list>    
  <!-- show no connection warning -->
  <ion-list padding no-lines *ngIf="network.isOffline() && !isLoading" class="transparent">
    <div class="logoWarningPlace">
      <img src='assets/svg/no_connection.svg' class="noConnectionImage"/>    
    </div>
    <ion-item text-center text-wrap class="transparent">
      <span>
        <div [innerHTML]="'CONN_PROBLEM_OFFLINE' | translate"></div>
      </span>
    </ion-item>
    <div class="retryButtonPlace"> 
      <button ion-button large (click)="retry()" color="connection">{{'RETRY' | translate}}</button>
    </div>
  </ion-list>    
</ion-content>
